.main-filter {
  display: flex;
  align-items: center;
  margin-top: rem(80px);
}

.main-filter__adventure-icon:not(:nth-last-child(1)) {
  margin-right: rem(8px);
}

.main-filter__adventure-icon {
  transition: border-color 0.3s;

  &:hover {
    background-color: rgba($green, 0.1);
    border-color: $green;
  }
}

.main-filter__drop-btn {
  width: rem(295px);
  height: rem(48px);
  border: 1px solid $grey-dark;
  border-radius: rem(24px);
  cursor: pointer;
  transition: color 0.2s;

  &:hover,
  &:hover i {
    color: $white;
  }

  &:hover,
  &:hover .button {
    background-color: $grey-dark;
  }

  &.active,
  &.active .button {
    color: $white;
    background-color: $grey-dark;
  }
}

.main-filter__drop-trigger {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-filter__drop-box > .dropdown-menu {
  top: 0;
  width: 100%;
  padding-top: 0;
}

.main-filter__drop-box .dropdown-content {
  border-radius: rem(26px);
  background-color: $grey-dark;
  overflow-x: hidden;
}

.main-filter__drop-box .dropdown-content .dropdown-item {
  color: $grey-light;
  text-align: center;
  font-size: rem(16px);

  &:hover {
    background-color: transparent;
    color: $white;
  }

  &.is-active {
    background-color: $grey;
    color: $white;
    font-size: rem(18px);
  }
}

.main-filter__drop-item {
  display: block;
  width: 100%;
  padding: rem(4px 0);
  color: $grey-light;
  text-align: center;
  transition: background-color 150ms;
  cursor: pointer;

  &:hover {
    background-color: $grey-darker;
    color: $white;
  }
}

.main-filter__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(48px);
  padding: rem(8px 32px);
  border: 1px solid $grey-dark;
  border-radius: rem(48px);
  transition: all 150ms;

  &:hover,
  &.active {
    background-color: $grey-darker;
    color: $white;
  }

  &.active {
    width: rem(280px);
  }
}

.main-filter__switcher-btn {
  color: $grey;
  transition: color 150ms;

  &:hover {
    color: $white;
  }
}
